{% load static %}
{% include 'head-search.html' %}

<body class="about-us">
    <div class="page-wrapper">

        <!-- Start of Main -->
        <main class="main">
            <!-- Start of Page Header -->
            <div class="page-header">
                <div class="container">
                    <h1 class="page-title mb-0">About Us</h1>
                </div>
            </div>
            <!-- End of Page Header -->

            <!-- Start of Breadcrumb -->
            <nav class="breadcrumb-nav mb-10 pb-8">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="demo1.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </nav>
            <!-- End of Breadcrumb -->

            <!-- Start of Page Content -->
            <div class="page-content">
                <div class="container">
                    <section class="introduce mb-10 pb-10">
                        <h1 class="title title-center">
                            We’re Devoted Marketing<br>Consultants Helping Your Business Grow
                        </h1>
                        <br>
                        <h4 class=" mx-auto text-center" style="line-height: 2.5rem;">Tribe like is a multi vendor marketplace that houses independent brands, fashion boutiques, designers and artists. We only allow a curated set off brands on the site to allow authentic items. This is done by having a verification system where someone has to apply to be a seller and once they get approved they can start selling immediately after. all logistics are done by each vendor. We have rules and regulations to stop fraudulent transactions and scams. The aim of this system is to boost upcoming and established fashion brands, designers, boutiques and artists, in one community. Being a part of us would allow people around the world to notice your brand and take you to the next step. Join us in our tribe like community today.</h4>
                        <figure class="br-lg">
                            <img src="/static/assets/images/pages/about_us/1.jpg" alt="Banner" width="1240" height="540"
                                style="background-color: #D0C1AE;" />
                        </figure>
                    </section>

                    
            </div>
        </main>
        <!-- End of Main -->
    </div>

{% include 'footer.html' %}