{% include 'head-search.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BRANDS</title>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    /> -->

  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-sm navbar-danger bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">TRIBELIFE</a>
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page"
                >Home <span class="visually-hidden">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdownId"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Dropdown</a
              >
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Action 1</a>
                <a class="dropdown-item" href="#">Action 2</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <div class="container container-box">
      <div class="letter-box">
        <ul class="letters">
          <li class="letter"><a class="letter_link" href="#letter-a">A</a></li>
          <li class="letter"><a class="letter_link" href="#letter-b">B</a></li>
          <li class="letter"><a class="letter_link" href="#letter-c">C</a></li>
          <li class="letter"><a class="letter_link" href="#letter-d">D</a></li>
          <li class="letter"><a class="letter_link" href="#letter-e">E</a></li>
          <li class="letter"><a class="letter_link" href="#letter-f">F</a></li>
          <li class="letter"><a class="letter_link" href="#letter-g">G</a></li>
          <li class="letter"><a class="letter_link" href="#letter-h">H</a></li>
          <li class="letter"><a class="letter_link" href="#letter-i">I</a></li>
          <li class="letter"><a class="letter_link" href="#letter-j">J</a></li>
          <li class="letter"><a class="letter_link" href="#letter-k">K</a></li>
          <li class="letter"><a class="letter_link" href="#letter-l">L</a></li>
          <li class="letter"><a class="letter_link" href="#letter-m">M</a></li>
          <li class="letter"><a class="letter_link" href="#letter-n">N</a></li>
          <li class="letter"><a class="letter_link" href="#letter-o">O</a></li>
          <li class="letter"><a class="letter_link" href="#letter-p">P</a></li>
          <li class="letter"><a class="letter_link" href="#letter-q">Q</a></li>
          <li class="letter"><a class="letter_link" href="#letter-r">R</a></li>
          <li class="letter"><a class="letter_link" href="#letter-s">S</a></li>
          <li class="letter"><a class="letter_link" href="#letter-t">T</a></li>
          <li class="letter"><a class="letter_link" href="#letter-u">U</a></li>
          <li class="letter"><a class="letter_link" href="#letter-v">V</a></li>
          <li class="letter"><a class="letter_link" href="#letter-w">W</a></li>
          <li class="letter"><a class="letter_link" href="#letter-x">X</a></li>
          <li class="letter"><a class="letter_link" href="#letter-y">Y</a></li>
          <li class="letter"><a class="letter_link" href="#letter-z">Z</a></li>
          <li class="letter"><a class="letter_link" href="#0">0</a></li>
        </ul>
      </div>
    </div>
    <div class="con">
      <div class="flexed">
        <ul class="list-container" id="letter-a">
          <h2>A</h2>
          <li class="list-li">
            <a href="#" class="list-link">A.G. Spalding & Bros</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Acht</a></li>
          <li class="list-li"><a href="#" class="list-link">Add</a></li>
          <li class="list-li"><a href="#" class="list-link">Adidas</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Aeronautica Militare</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">AGLINI</a></li>
          <li class="list-li"><a href="#" class="list-link">AI_</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Alberta Ferretti</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Alexander McQueen</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Alice Palmer</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Alpha Massimo Rebecchi</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Anaikka</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Indrea-Incontri </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Andrea Pompilio </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Aniye By </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Antony Morato</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Aquascutum </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Armani</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Armani Exchange </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Armani Jeans</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Armata Di Mare </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Arzu Kaprol </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> ASH</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Atelier Swarovski </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Automobili Lamborghini </a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-b">
          <h2>B</h2>
          <li class="list-li">
            <a href="#" class="list-link">Bagutta</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Baldinini</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Baldinini Trend</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Balenciaga</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Bally</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Balmain</a></li>
          <li class="list-li">
            <a href="#" class="list-link"> Barbara Casasola </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> BENCIVENGA</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Bikkembergs </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Billionaire Italian Couture</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Blauer </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Blugirl </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Blumarine </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">BMW </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">BMW Motorsport </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Bolle </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Borgia </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Bottega Veneta </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Boutique Moschino </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Bulova </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Burberry </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">BYBLOS</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-c">
          <h2>C</h2>
          <li class="list-li">
            <a href="#" class="list-link">C.P. Company</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Calvin Klein</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Calvin Klein Jeans</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">CAMPO DI FRAGOLE</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Care Label</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Carolina Herrera</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Carrera</a></li>
          <li class="list-li"><a href="#" class="list-link">Casadei</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Caterina Gatta</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Cavalli</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Cavalli Class</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Cédric Charlier</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Centogrammi</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Cerruti 1881</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Chanel</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Charles Philip</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Chiara Ferragni</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Chloé</a></li>
          <li class="list-li"><a href="#" class="list-link">Chopard</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Christian Lacroix</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Christian Louboutin</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Christian Pellizzari</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Ciesse Outdoor</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">CO|TE</a></li>
          <li class="list-li"><a href="#" class="list-link">COACH</a></li>
          <li class="list-li"><a href="#" class="list-link">Coccinelle</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Comeforbreakfast</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Comme Des Fuckdown</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Conte of Florence</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Converse</a></li>
          <li class="list-li"><a href="#" class="list-link">CORA GROPPO</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Corrado De Biase</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Costume National</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">CRISTINAEFFE</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Custo Barcelona</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">CYCLE</a></li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-d">
          <h2>D</h2>
          <li class="list-li">
            <a href="#" class="list-link">DAIZY SHELY</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Daniele Alessandrini</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">DEL CARLO</a></li>
          <li class="list-li"><a href="#" class="list-link">Denny Rose</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Desigual</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Diadora</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Diane Von Furstenberg</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Diego Venturino</a>
          </li>
          <li class="list-li"><a href="#" class="list-link">Diesel</a></li>
          <li class="list-li"><a href="#" class="list-link">Dior</a></li>
          <li class="list-li">
            <a href="#" class="list-link">Dolce & Gabbana</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Domenico Tagliente</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Don The Fuller</a>
          </li>
          <li class="list-li"><a href="#" class="list-link"> Dondup </a></li>

          <li class="list-li">
            <a href="#" class="list-link"> Dries Van Noten</a>
          </li>
          <li class="list-li"><a href="#" class="list-link"> Dsquared²</a></li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-e">
          <h2>E</h2>
          <li class="list-li">
            <a href="#" class="list-link"> EA7 </a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link"> Emporio Armani </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> EBARRITO </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Eleventy </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Elisabetta Franchi </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Emilio Pucci </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Emilio Romanelli </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Emporio Armani </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Ermanno Scervino </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Ermenegildo Zegna </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Escada </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Esprit </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Exte </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> EXTERIOR </a>
          </li>
        </ul>
      </div>
      <div class="flexed">
        <ul class="list-container" id="letter-f">
          <h2>F</h2>
          <li class="list-li">
            <a href="#" class="list-link">Fendi </a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link"> Ferre </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Festina </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Fila </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> FILOS </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Fiorucci </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> FRADI </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> FRANCESCO SACCO </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Frankie Morello </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Fred Mello </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Furla </a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link"> Fyodor Golan </a>
          </li>
        </ul>
      </div>
      <div class="flexed">
        <ul class="list-container" id="letter-g">
          <h2>G</h2>
          <li class="list-li">
            <a href="#" class="list-link">Gaelle</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Gant</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Gaudi</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">GCDS</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">GF Ferre</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">GIA COUTURE</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Givenchy</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Golden Goose</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Gran Sasso</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Gucci</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Guess</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Guess By Marciano</a>
          </li>
          <li class="list-li">
            <a href="#" class="list-link">Guess Jeans</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container"></ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-h">
          <h2>H</h2>
          <li class="list-li">
            <a href="#" class="list-link">Hackett</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Hally & Son</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Harmont & Blaine</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Helly Hansen</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Herno</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Heron Preston</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">HIDE & JACK</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Hinnominate</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">House of Holland</a>
          </li>

          <h2>H</h2>
          <li class="list-li">
            <a href="#" class="list-link">Hugo Boss</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-a" id="letter-i">
          <h2>I</h2>
          <li class="list-li">
            <a href="#" class="list-link">Imperfect</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-j">
          <h2>J</h2>
          <li class="list-li">
            <a href="#" class="list-link">Jacob Cohen</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Jeckerson</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Jimmy Choo</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">John Galliano</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">John Richmond</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Joules</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Jucca</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Juicy Couture</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Just Cavalli</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-k">
          <h2>K</h2>
          <li class="list-li">
            <a href="#" class="list-link">KAALE SUKTAE</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Kappa</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Karen Millen</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Karl Lagerfeld</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Karl Lagerfeld Beachwear</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Kate Spade</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Kenzo</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Kocca</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Koonhor</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-l">
          <h2>L</h2>
          <li class="list-li">
            <a href="#" class="list-link">L'Autre Chose</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">La Maison du Couturier</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">La Martina</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">La Scarpa Italiana</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Lamberto Petri</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">LANACAPRINA</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Lanre Da Silva Ajayi</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Lanvin</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Lardini</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">LAUREL</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Leather Crown</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Lee</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Levi's</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Licia Florio</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Liebeskind</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Liu Jo</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Longines</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Love Moschino</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Lozza</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Lyle & Scott</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-m">
          <h2>M</h2>
          <li class="list-li">
            <a href="#" class="list-link">Made in Italy</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Maison Espin</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Maje</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Malo</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Mangano</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">MANUEL BARCELO</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Marc Jacobs</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Marcelo Burlon</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Marciano by Guess</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">MARGHI LO'</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Maria Christina</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Martina Spetlova</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Masha Ma</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Master Coat</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Max & Co</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Max Mara</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">MCM</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Met</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">MIA</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Michael Kors</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">MILA SCHÖN</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Millner</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Missoni</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Miu Miu</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Momo Design</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Montana Blu</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Moschino</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Moschino Couture</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">MSGM</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">MY TWIN</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-n">
          <h2>N</h2>
          <li class="list-li">
            <a href="#" class="list-link">Napapijri</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Neil Barrett</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">New Balance</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Nialaya</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Nicolo Tonetto</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Nine West</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">NOEMI ALEMÁN</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">North Sails</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Norway 1963</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-o">
          <h2>O</h2>
          <li class="list-li">
            <a href="#" class="list-link">Off-White</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Omega</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-p">
          <h2>P</h2>
          <li class="list-li">
            <a href="#" class="list-link">P.A.R.O.S.H.</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Pal Zileri</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Palm Angels</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Pantofola D'Oro</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Paola D'Arcano</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Paolo Pecora Milano</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Paris Texas</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Patrizia Pepe</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Péché Originel</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Peserico</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Peuterey</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Pharmacy Industry</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Philipp Plein</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Philippe Model</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Philosophy</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Pierre Cardin</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">PINK MEMORIES</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">PINKO</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Piquadro</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Plein Sport</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">PLEIN SUD</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Police</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Pollini</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Polo by Ralph Lauren</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Pompei Donatella</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Porsche Design</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Prada</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Pray For Us</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">PT Torino</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-r">
          <h2>R</h2>
          <li class="list-li">
            <a href="#" class="list-link">Ralph Lauren</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Refrigiwear</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Replay</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Robert Friedman</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Roberto Cavalli</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Roberto Cavalli Sport</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Roberto Fragata</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Roccobarocco</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Rodenstock</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Romeo Gigli</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Roy Roger's</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-s">
          <h2>S</h2>
          <li class="list-li">
            <a href="#" class="list-link">Sachin & Babi</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Saint Laurent</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Salvatore Ferragamo</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Sandro</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Sandro Ferrone</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Scervino Street</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Scotch & Soda</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Sealup</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Serengeti</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Sergei Grinko</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">SERGIO LEVANTESI</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Sergio Tacchini</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">SIGNS</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Silvian Heach</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Sofia</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Sportmax</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Spy</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Sting</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Stuart Weitzman</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Sun68</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Superdry</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Swarovski</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-t">
          <h2>T</h2>
          <li class="list-li">
            <a href="#" class="list-link">Ted Baker</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Thom Browne</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Timberland</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Tod's</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Tom Ford</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Tommy Hilfiger</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Tond</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Tory Burch</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Trussardi</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Trussardi Action</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Twinset</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-u">
          <h2>U</h2>
          <li class="list-li">
            <a href="#" class="list-link">U.S. Grand Polo</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">U.S. POLO ASSN.</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Ungaro Fever</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Uominitaliani</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-v">
          <h2>V</h2>
          <li class="list-li">
            <a href="#" class="list-link">Valentino</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Vans</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Verri</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Versace</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Versace Collection</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Versace Jeans</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Vika Gazinskaya</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Vivienne Westwood</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Vladimiro Gioia</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-w">
          <h2>W</h2>
          <li class="list-li">
            <a href="#" class="list-link">WAYFARER</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Web</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Woolrich</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-x">
          <h2>X</h2>
          <li class="list-li">
            <a href="#" class="list-link">X</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-" y>
          <h2>Y</h2>
          <li class="list-li">
            <a href="#" class="list-link">Yes Zee</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Yohji Yamamoto</a>
          </li>
        </ul>
      </div>

      <div class="flexed">
        <ul class="list-container" id="letter-v">
          <h2>Z</h2>
          <!-- <li class="list-li">
            <a href="#" class="list-link">Z</a>
          </li> -->

          <li class="list-li">
            <a href="#" class="list-link">Z ZEGNA</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Zadig & Voltaire</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Zegna Couture</a>
          </li>

          <li class="list-li">
            <a href="#" class="list-link">Zeyneptosum</a>
          </li>
        </ul>
      </div>
      <div class="flexed">
        <ul class="list-container" id="0">
          <h2>0-9</h2>
          <!-- <li class="list-li">
            <a href="#" class="list-link">Yes Zee</a>
          </li> -->
        </ul>
      </div>
    </div>

    <link rel="stylesheet" href="../staticfiles/css/brands.css" />
    <style>
        
.con{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(4 ,1fr);
    background-color: rgba(64, 70, 70, 0.062);

    }
    @media (max-width: 768px){
        .con{
            grid-template-columns: repeat(2 ,1fr);}
    } 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul    {padding-inline-start: 0px}
.list-container{
    padding-top: 40px;
    display: flex;  
    flex-direction: column;
    width: 100%;
    justify-content: right;
}
.list-container :nth-child(even){
    background-color: rgba(36, 122, 180, 0.055);
    

}

.list-link{
    color: rgb(46, 42, 42);
    text-decoration: none;
    font-size: 0.8em;
    word-spacing: 5px;
    font-weight: 600;
    letter-spacing: 2px;
}
.list-li{

    list-style: none;
    line-height: 50px;
    padding-left: 20px;
   
    
}
.flexed{
    
    display: flex;
flex-direction: column;
align-items: flex-start;
}
.container-box{
    padding-top: 10px;
justify-content: center;
align-content: center;
}
.letter-box{
    text-align: center;
    margin:3px auto;
   
padding: 1px;
}
.letters{
    list-style: none;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}
.letter{
    background-color: rgba(128, 128, 128, 0.144);
    padding: 5px; margin: 1px;
    border-radius: 3px;
}
.letter_link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.493);
}
    </style>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>

{% include 'footer.html' %}