{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Tribe Like - Marketplace</title>

    <meta name="keywords" content="Marketplace ecommerce" />
    <meta name="description" content="Tribe Like is powerful marketplace &amp; ecommerce.">
    <meta name="author" content="Resbrotherx">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static '/assets/images/item_icon.jpeg' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- WebFont.js -->


    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/static/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <link href='{% static "assets/css/github.css" %}' rel="stylesheet">
    <link rel="preload" href="{% static 'assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2' %}" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{% static 'assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{% static 'assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="{% static 'assets/fonts/wolmart87d5.woff?png09e' %}" as="font" type="font/woff"
        crossorigin="anonymous">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}">

    <!-- Plugins CSS -->
    <!-- <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/animate/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/magnific-popup/magnific-popup.min.css' %}">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/demo1.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/photoswipe/photoswipe.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'assets/vendor/photoswipe/default-skin/default-skin.min.css' %}">
    <!-- Swiper CSS -->

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.min.css' %}">
</head>

<body class="home">
    <!-- <div class="mt-5 pt-4">
    </div> -->
    <div class="page-wrapper">
        <!-- Start of Header -->
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <p class="welcome-msg"> {{ message }} !</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                    <div class="header-right">
                        <!-- End of Dropdown Menu -->
                        <!-- <span class="divider d-lg-show"></span> -->
                        <!-- <a href="/news/" class="d-lg-show">Blog</a>-->
                        <div id="google_translate_element"></div>
                        <a href="/contact/" class="d-lg-show">Contact Us</a>

                        {% if user.is_authenticated %}
                        <a href="#" class="d-lg-show">My Account</a>
                        {% else %}
                        <a href="/login" class="d-lg-show"><i class="w-icon-account"></i>Sign In</a>
                        <span class="delimiter d-lg-show">/</span>
                        <a href="/login" class="ml-0 d-lg-show login register">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- End of Header Top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left mr-md-4">
                        <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
                        </a>
                        <a href="/" class="logo ml-lg-0">
                            <img src="{% static 'assets/images/logo.png' %}" alt="logo" width="144" height="45" />
                        </a>
                        <form method="get" action="/search/"
                            class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">

                            <input type="text" class="form-control" name="q" id="search" placeholder="Search in..."
                                required />
                            <button class="btn btn-search" type="submit"><i class="w-icon-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="header-right ml-4">
                        <div class="header-call d-xs-show d-lg-flex align-items-center">
                            <div class="call-info d-lg-show"> </div>
                        </div>
                        <a class="compare label-down link d-xs-show"
                            href="https://instagram.com/tribe_like?igshid=YjNmNGQ3MDY=">
                            <i class="w-icon-instagram"></i>
                            <!-- <span class="compare-label d-lg-show">Compare</span> -->
                        </a>
                        <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                            {% if user.is_authenticated %}
                            <i class="w-icon-cart"></i>
                            <div class="cart-overlay"></div>
                            <a href="/order-summary/" class="label-down link">
                                <span class="cart-count">{{ order.items.count }}</span>
                                </i>
                            </a>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Header Middle -->
            <div class="header-bottom sticky-content fix-top sticky-header has-dropdown">
                <div class="container">
                    <div class="inner-wrap">
                        <div class="header-left">
                            <div class="dropdown category-dropdown has-border" data-visible="true">
                                <a href="#" class="category-toggle text-dark" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true" data-display="static"
                                    title="Browse Categories">
                                    <i class="w-icon-category"></i>
                                    <span>Browse Categories</span>
                                </a>

                                <div class="dropdown-box">
                                    <ul class="menu vertical-menu category-menu">
                                        {% for main_cat in category %}
                                        <li>
                                            <a href="shop-fullwidth-banner.html">
                                                <!-- <i class="w-icon-tshirt2"></i> -->
                                                {{main_cat.name}}
                                            </a>
                                            <ul class="megamenu">

                                                {% for cat in main_cat.category_set.all %}
                                                <li>
                                                    <h4 class="menu-title">{{cat.name}}</h4>
                                                    <hr class="divider">
                                                    <ul>
                                                        {% for sub_cat in cat.sub_category_set.all %}
                                                        <li><a href="#">{{sub_cat.name}}</a>
                                                        </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>


                            <nav class="main-nav">
                                <ul class="menu active-underline">
                                    <li class="">
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>
                                    <li>
                                        <a href="/all-vendors/">Brands</a>
                                    </li>
                                    <li>
                                        <a href="/news-page/">Editorial</a>
                                    </li>

                                    <li>
                                        <a href="/about-us/">About</a>
                                    </li>
                                    <li>
                                        <a href="/how-to-sell/">How to sell</a>
                                    </li>
                                    <li>
                                        <a href="/contact/">Contact</a>
                                    </li>
                                    <li>
                                        <a href="https://likeandco.net/" _blank>Like and Co Retail</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-right">
                            <!-- <a href="#" class="d-xl-show"><i class="w-icon-map-marker mr-1"></i>Track Order</a> -->
                            <a href="/sell-here/"><i class="w-icon-sale"></i>Sell Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.category-dropdown .dropdown-box').hide();

                $('.category-dropdown').click(function () {
                    var dropdownBox = $(this).find('.dropdown-box');

                    dropdownBox.slideToggle();
                });
            });
        </script>