
{% load static %}
{% include 'head-search.html' %}
{% load currency_tags %}


<!-- Start of Main -->
<main class="main">
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb bb-no">
                <li><a href="/">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li>Products</li>
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of Page Content -->
    <div class="page-content mb-10">
        <div class="shop-default-banner shop-boxed-banner banner d-flex align-items-center mb-6"
            style="background-image: url(/static/assets/images/shop/banner2.jpg); background-color: #FFC74E;">
            <div class="container banner-content">
                <h4 class="banner-subtitle font-weight-bold">Product Collection</h4>
                <h3 class="banner-title text-white text-uppercase font-weight-bolder ls-10">Fashions / Accessories /
                    Shoes</h3>
                <a href="#" class="btn btn-dark btn-rounded btn-icon-right">Discover
                    Now<i class="w-icon-long-arrow-right"></i></a>
            </div>
        </div>
        <!-- End of Shop Banner -->
        <div class="container-fluid">
            <!-- Start of Shop Content -->
            <div class="shop-content">
                <!-- Start of Shop Main Content -->
                <div class="main-content">
                    <nav class="toolbox sticky-toolbox sticky-content fix-top">
                        <div class="toolbox-left">
                            <a href="#" class="btn btn-primary btn-outline btn-rounded left-sidebar-toggle 
                                        btn-icon-left"><i class="w-icon-category"></i><span>Filters</span></a>
                            <div class="toolbox-item toolbox-sort select-box text-dark">
                                <label>Sort By :</label>
                                <select name="orderby" class="form-control">
                                    <option value="default" selected="selected">Default sorting</option>
                                    <option value="popularity">Sort by popularity</option>
                                    <option value="rating">Sort by average rating</option>
                                    <option value="date">Sort by latest</option>
                                    <option value="price-low">Sort by price: low to high</option>
                                    <option value="price-high">Sort by price: high to low</option>
                                </select>
                            </div>
                        </div>
                        <div class="toolbox-right">
                            <div class="toolbox-item toolbox-show select-box">
                                <label>Show:</label>
                                <select id="itemsPerPage" name="count" class="form-control">
                                    <option value="10">Show 10</option>
                                    <option value="20" selected="selected">Show 20</option>
                                    <option value="30">Show 30</option>
                                    <option value="40">Show 40</option>
                                </select>
                            </div>
                            
                            <div class="toolbox-item toolbox-layout">
                                <a href="shop-fullwidth-banner.html" class="icon-mode-grid btn-layout active">
                                    <i class="w-icon-grid"></i>
                                </a>
                                <a href="shop-list.html" class="icon-mode-list btn-layout">
                                    <i class="w-icon-list"></i>
                                </a>
                            </div>
                        </div>
                        
                    </nav>
                    <div class="product-wrapper row cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2">

                        {% for sh in shopspage %}
                        <div class="product-wrap">
                            <div class="product text-center">
                                <figure class="product-media" style="width: 210px;height: 241px">
                                    <a href="{{sh.get_absolute_url}}">

                                        {% if sh.image_link %}
                                        <img style="width: 280px;height: 271px" src="{{sh.image0}}" alt="Product" width="280" height="271" />
                                        <img style="width: 280px;height: 271px" src="{{sh.image1}}" alt="Product" width="280" height="271" />
                                        {% else %}
                                        <img style="width: 280px;height: 271px" src="{{sh.image.url}}" alt="Product" width="280" height="271" />
                                        <img style="width: 280px;height: 271px" src="{{sh.image2.url}}" alt="Product" width="280" height="271" />
                                        {% endif %}
                                    </a>
                                    <div class="product-action-horizontal">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                            title="Add to cart"></a>
                                        <a href="{{sh.get_absolute_url}}"
                                            class="btn-product-icon btn-quickview w-icon-search" title="Quick View"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <div class="product-cat">
                                        <a href="{{sh.get_absolute_url}}">{{sh.category}}// {{sh.size}}</a>
                                    </div>
                                    <h3 class="product-name">
                                        <a href="{{sh.get_absolute_url}}">{{sh.title}}</a>
                                    </h3>
                               <!--      <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
                                    </div> -->
                                    <div class="product-pa-wrapper">
                                        <div class="product-price">
                                            {%if sh.discount_price %}
                                            <span class="old old-price"><del>£ {{sh.price|floatformat:2}}</del></span>
                                            <span class="new new-price">£ {{sh.discount_price|floatformat:2}}</span>
                                            {% else %}
                                            <span class="new new-price">£ {{sh.price|floatformat:2}}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <div class="toolbox toolbox-pagination justify-content-between">
                        <p class="showing-info mb-2 mb-sm-0">
                            Showing {{ shopspage.start_index }}-{{ shopspage.end_index }} of {{ shopspage.paginator.count }} Products
                        </p>
                        <ul class="pagination">
                            {% if shopspage.has_previous %}
                            <li class="prev">
                                <a href="?page={{ shopspage.previous_page_number }}" aria-label="Previous">
                                    <i class="w-icon-long-arrow-left"></i>Prev
                                </a>
                            </li>
                            {% endif %}
                            {% for page_num in shopspage.paginator.page_range %}
                            <li class="{% if page_num == shopspage.number %}page-item active{% else %}page-item{% endif %}">
                                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                            </li>
                            {% endfor %}
                            {% if shopspage.has_next %}
                            <li class="next">
                                <a href="?page={{ shopspage.next_page_number }}" aria-label="Next">
                                    Next<i class="w-icon-long-arrow-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    
                </div>
                <!-- End of Shop Main Content -->

                <!-- Start of Sidebar, Shop Sidebar -->
                <aside class="sidebar shop-sidebar left-sidebar sticky-sidebar-wrapper">
                    <!-- Start of Sidebar Overlay -->
                    <div class="sidebar-overlay"></div>
                    <a class="sidebar-close" href="#"><i class="close-icon"></i></a>

                    <!-- Start of Sidebar Content -->
                    <div class="sidebar-content scrollable">
                        <div class="filter-actions">
                            <label>Filter :</label>
                            <a href="#" class="btn btn-dark btn-link filter-clean">Clean All</a>
                        </div>
                        <!-- Start of Collapsible widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>All Categories</span></h3>
                            <ul class="widget-body filter-items search-ul">

                                {% for i in category %}
                                <li><a href="#">{{i.name}}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        <!-- <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Price</span></h3>
                            <div class="widget-body">
                                <ul class="filter-items search-ul">
                                    <li><a href="#">$0.00 - $100.00</a></li>
                                    <li><a href="#">$100.00 - $200.00</a></li>
                                    <li><a href="#">$200.00 - $300.00</a></li>
                                    <li><a href="#">$300.00 - $500.00</a></li>
                                    <li><a href="#">$500.00+</a></li>
                                </ul>
                                <form class="price-range">
                                    <input type="number" name="min_price" class="min_price text-center"
                                        placeholder="$min"><span class="delimiter">-</span><input type="number"
                                        name="max_price" class="max_price text-center" placeholder="$max"><a href="#"
                                        class="btn btn-primary btn-rounded">Go</a>
                                </form>
                            </div>
                        </div> -->
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        <!-- <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Size</span></h3>
                            <ul class="widget-body filter-items item-check mt-1">
                                <li><a href="#">Extra Large</a></li>
                                <li><a href="#">Large</a></li>
                                <li><a href="#">Medium</a></li>
                                <li><a href="#">Small</a></li>
                            </ul>
                        </div> -->
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Brand</span></h3>
                            <ul class="widget-body filter-items item-check mt-1">
                                {% for i in vendors_list %}
                                <li><a href="#">{{i.Boutique_name}}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Clothing Size</span></h3>

                            <ul class="widget-body filter-items search-ul mt-1">
                                <li><a href="/sizes/XS">XS</a></li>
                                <li><a href="/sizes/S">S</a></li>
                                <li><a href="/sizes/M">M</a></li>
                                <li><a href="/sizes/L">L</a></li>
                                <li><a href="/sizes/XL">XL</a></li>
                                <li><a href="/sizes/XXL">XXL</a></li>
                                <li><a href="/sizes/XXXL">XXXL</a></li>
                                <li><a href="/sizes/XXXXL">XXXXL</a></li>

                            </ul>
                        </div>
                        <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Shoe Size</span></h3>
                            <ul class="widget-body filter-items search-ul mt-1">
                                <li><a href="/sizes/US 3">US 3</a></li>
                                <li><a href="/sizes/US 3.5">US 3.5</a></li>
                                <li><a href="/sizes/US 4">US 4</a></li>
                                <li><a href="/sizes/US 4.5">US 4.5</a></li>
                                <li><a href="/sizes/US 5">US 5</a></li>
                                <li><a href="/sizes/US 5.5">US 5.5</a></li>
                                <li><a href="/sizes/US 6">US 6</a></li>
                                <li><a href="/sizes/US 6.5">US 6.5</a></li>
                                <li><a href="/sizes/US 7">US 7</a></li>
                                <li><a href="/sizes/US 7.5">US 7.5</a></li>
                                <li><a href="/sizes/US 8">US 8</a></li>
                                <li><a href="/sizes/US 8.5">US 8.5</a></li>
                                <li><a href="/sizes/US 9">US 9</a></li>
                                <li><a href="/sizes/US 9.5">US 9.5</a></li>
                                <li><a href="/sizes/US 10">US 10</a></li>
                                <li><a href="/sizes/US 10.5">US 10.5</a></li>
                                <li><a href="/sizes/US 11">US 11</a></li>
                                <li><a href="/sizes/US 11.5">US 11.5</a></li>
                                <li><a href="/sizes/US 12">US 12</a></li>
                                <li><a href="/sizes/US 12.5">US 12.5</a></li>
                                <li><a href="/sizes/US 13">US 13</a></li>
                                <li><a href="/sizes/US 13.5">US 13.5</a></li>
                                <li><a href="/sizes/US 14">US 14</a></li>
                                <li><a href="/sizes/US 14.5">US 14.5</a></li>
                                <li><a href="/sizes/US 15">US 15</a></li>
                                <li><a href="/sizes/US 15.5">US 15.5</a></li>
                                <li><a href="/sizes/US 16">US 16</a></li>
                                <li><a href="/sizes/US 16.5">US 16.5</a></li>
                                <li><a href="/sizes/US 17">US 17</a></li>
                                <li><a href="/sizes/US 17.5">US 17.5</a></li>
                                <li><a href="/sizes/US 18">US 18</a></li>
                                <li><a href="/sizes/UK 3">UK 3</a></li>
                                <li><a href="/sizes/UK 3.5">UK 3.5</a></li>
                                <li><a href="/sizes/UK 4">UK 4</a></li>
                                <li><a href="/sizes/UK 4.5">UK 4.5</a></li>
                                <li><a href="/sizes/UK 5">UK 5</a></li>
                                <li><a href="/sizes/UK 5.5">UK 5.5</a></li>
                                <li><a href="/sizes/UK 6">UK 6</a></li>
                                <li><a href="/sizes/UK 6.5">UK 6.5</a></li>
                                <li><a href="/sizes/UK 7">UK 7</a></li>
                                <li><a href="/sizes/UK 7.5">UK 7.5</a></li>
                                <li><a href="/sizes/UK 8">UK 8</a></li>
                                <li><a href="/sizes/UK 8.5">UK 8.5</a></li>
                                <li><a href="/sizes/UK 9">UK 9</a></li>
                                <li><a href="/sizes/UK 9.5">UK 9.5</a></li>
                                <li><a href="/sizes/UK 10">UK 10</a></li>
                                <li><a href="/sizes/UK 10.5">UK 10.5</a></li>
                                <li><a href="/sizes/UK 11">UK 11</a></li>
                                <li><a href="/sizes/UK 11.5">UK 11.5</a></li>
                                <li><a href="/sizes/UK 12">UK 12</a></li>
                                <li><a href="/sizes/UK 12.5">UK 12.5</a></li>
                                <li><a href="/sizes/UK 13">UK 13</a></li>
                                <li><a href="/sizes/UK 13.5">UK 13.5</a></li>
                                <li><a href="/sizes/UK 14">UK 14</a></li>
                                <li><a href="/sizes/UK 14.5">UK 14.5</a></li>
                                <li><a href="/sizes/UK 15">UK 15</a></li>
                                <li><a href="/sizes/UK 15.5">UK 15.5</a></li>
                                <li><a href="/sizes/UK 16">UK 16</a></li>
                                <li><a href="/sizes/UK 16.5">UK 16.5</a></li>
                                <li><a href="/sizes/UK 17">UK 17</a></li>
                                <li><a href="/sizes/UK 17.5">UK 17.5</a></li>
                                <li><a href="/sizes/UK 18">UK 18</a></li>
                                <li><a href="/sizes/EU 30">EU 30</a></li>
                                <li><a href="/sizes/EU 30.5">EU 30.5</a></li>
                                <li><a href="/sizes/EU 31">EU 31</a></li>
                                <li><a href="/sizes/EU 31.5">EU 31.5</a></li>
                                <li><a href="/sizes/EU 32">EU 32</a></li>
                                <li><a href="/sizes/EU 32.5">EU 32.5</a></li>
                                <li><a href="/sizes/EU 33">EU 33</a></li>
                                <li><a href="/sizes/EU 33.5">EU 33.5</a></li>
                                <li><a href="/sizes/EU 34">EU 34</a></li>
                                <li><a href="/sizes/EU 34.5">EU 34.5</a></li>
                                <li><a href="/sizes/EU 35">EU 35</a></li>
                                <li><a href="/sizes/EU 35.5">EU 35.5</a></li>
                                <li><a href="/sizes/EU 36">EU 36</a></li>
                                <li><a href="/sizes/EU 36.5">EU 36.5</a></li>
                                <li><a href="/sizes/EU 37">EU 37</a></li>
                                <li><a href="/sizes/EU 37.5">EU 37.5</a></li>
                                <li><a href="/sizes/EU 38">EU 38</a></li>
                                <li><a href="/sizes/EU 38.5">EU 38.5</a></li>
                                <li><a href="/sizes/EU 39">EU 39</a></li>
                                <li><a href="/sizes/EU 39.5">EU 39.5</a></li>
                                <li><a href="/sizes/EU 40">EU 40</a></li>
                                <li><a href="/sizes/EU 40.5">EU 40.5</a></li>
                                <li><a href="/sizes/EU 41">EU 41</a></li>
                                <li><a href="/sizes/EU 41.5">EU 41.5</a></li>
                                <li><a href="/sizes/EU 42">EU 42</a></li>
                                <li><a href="/sizes/EU 42.5">EU 42.5</a></li>
                                <li><a href="/sizes/EU 43">EU 43</a></li>
                                <li><a href="/sizes/EU 43.5">EU 43.5</a></li>
                                <li><a href="/sizes/EU 44">EU 44</a></li>
                                <li><a href="/sizes/EU 44.5">EU 44.5</a></li>
                                <li><a href="/sizes/EU 45">EU 45</a></li>
                                <li><a href="/sizes/EU 45.5">EU 45.5</a></li>
                                <li><a href="/sizes/EU 46">EU 46</a></li>
                                <li><a href="/sizes/EU 46.5">EU 46.5</a></li>
                                <li><a href="/sizes/EU 47">EU 47</a></li>
                                <li><a href="/sizes/EU 47.5">EU 47.5</a></li>
                                <li><a href="/sizes/EU 48">EU 48</a></li>
                                <li><a href="/sizes/EU 48.5">EU 48.5</a></li>
                                <li><a href="/sizes/EU 49">EU 49</a></li>
                                <li><a href="/sizes/EU 49.5">EU 49.5</a></li>
                                <li><a href="/sizes/EU 50">EU 50</a></li>

                            </ul>
                        </div>
                        <!-- End of Collapsible Widget -->

                        <!-- Start of Collapsible Widget -->
                        <!-- <div class="widget widget-collapsible">
                            <h3 class="widget-title"><span>Color</span></h3>
                            <ul class="widget-body filter-items item-check">
                                <li><a href="#">Black</a></li>
                                <li><a href="#">Blue</a></li>
                                <li><a href="#">Brown</a></li>
                                <li><a href="#">Green</a></li>
                                <li><a href="#">Grey</a></li>
                                <li><a href="#">Orange</a></li>
                                <li><a href="#">Yellow</a></li>
                            </ul>
                        </div> -->
                        <!-- End of Collapsible Widget -->
                    </div>
                    <!-- End of Sidebar Content -->
                </aside>
                <!-- End of Shop Sidebar -->
            </div>
            <!-- End of Shop Content -->
        </div>
    </div>
    <!-- End of Page Content -->
</main>
<!-- End of Main -->

<script>
    document.getElementById('itemsPerPage').addEventListener('change', function () {
        const selectedValue = this.value;
        const currentURL = window.location.href;

        // Update the URL with the selected number of items per page
        const newURL = updateQueryStringParameter(currentURL, 'count', selectedValue);

        // Redirect to the new URL
        window.location.href = newURL;
    });

    function updateQueryStringParameter(uri, key, value) {
        const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        const separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            return uri + separator + key + "=" + value;
        }
    }
</script>


{% include 'footer.html' %}