{% load static %} 
{% include 'head-search.html' %}
     
     <!-- Start of Main -->
     <main class="main">
        <!-- Start of Page Header -->
        <div class="page-header">
            <div class="container">
                <h1 class="page-title mb-0">Grid 4</h1>
            </div>
        </div>
        <!-- End of Page Header -->

        <!-- Start of Breadcrumb -->
        <nav class="breadcrumb-nav mb-6">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="demo1.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li>Grid 4</li>
                </ul>
            </div>
        </nav>
        <!-- End of Breadcrumb -->

        <!-- Start of Page Content -->
        <div class="page-content">
            <div class="container">
                <ul class="nav-filters filter-underline blog-filters mb-4">
                    <li><a href="#" class="nav-filter active" data-filter="*">All Blog Posts <span>6</span></a></li>
                    <li><a href="#" class="nav-filter" data-filter=".clothes">Clothes <span>1</span></a></li>
                    <li><a href="#" class="nav-filter" data-filter=".entertainment">Entertainment <span>1</span></a></li>
                    <li><a href="#" class="nav-filter" data-filter=".fashion">Fashion <span>2</span></a></li>
                    <li><a href="#" class="nav-filter" data-filter=".lifestyle">Lifestyle <span>3</span></a></li>
                    <li><a href="#" class="nav-filter" data-filter=".others">Others <span>2</span></a></li>
                    <li><a href="#" class="nav-filter" data-filter=".shoes">Shoes <span>1</span></a></li>
                    <li><a href="#" class="nav-filter" data-filter=".technology">Technology <span>1</span></a></li>
                </ul>

                <div class="row grid cols-xl-4 cols-lg-3 cols-md-2 mb-2" data-grid-options="{
                    'layoutMode': 'fitRows'
                }">
                    <article class="post post-grid-type grid-item overlay-zoom fashion">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/2cols/1.jpg" width="600"
                                    height="420" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Fashion</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">New found the men dress for summer</a>
                            </h4>
                            <div class="post-content">
                                <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, 
                                eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at 
                                vulputate volutpat, uctus metus libero eu augue, vitae luctus…</p> <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.01.2021</a>
                            </div>
                        </div>
                    </article>
                    <article class="post post-grid-type grid-item overlay-zoom others technology">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/2cols/2.jpg" width="600"
                                    height="420" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Others</a>,
                                <a href="#">Technology</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">Recognitory the needs is primary condition  for design</a>
                            </h4>
                            <div class="post-content">
                                <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, 
                                eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at 
                                vulputate volutpat, uctus metus libero eu augue, vitae luctus…</p>
                                <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.05.2021</a>
                            </div>
                        </div>
                    </article>
                    <article class="post post-grid-type grid-item overlay-zoom clothes">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/2cols/3.jpg" width="600"
                                    height="420" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Clothes</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">New found the women’s shirt  for summer season</a>
                            </h4>
                            <div class="post-content">
                                <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, 
                                eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at 
                                vulputate volutpat, uctus metus libero eu augue, vitae luctus…</p>
                                <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.01.2021</a>
                            </div>
                        </div>
                    </article>
                    <article class="post post-grid-type grid-item overlay-zoom lifestyle">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/2cols/4.jpg" width="600"
                                    height="420" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Lifestyle</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">We want to be different and fashion gives to me that outlet</a>
                            </h4>
                            <div class="post-content">
                                <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, 
                                eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at 
                                vulputate volutpat, uctus metus libero eu augue, vitae luctus…</p>
                                <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.03.2021</a>
                            </div>
                        </div>
                    </article>
                    <article class="post post-grid-type grid-item overlay-zoom entertainment lifestyle others shoes">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/2cols/5.jpg" width="600"
                                    height="420" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Entertainment</a>,
                                <a href="#">Lifestyle</a>,
                                <a href="#">Others</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">Comes a cool blog post with Images</a>
                            </h4>
                            <div class="post-content">
                                <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, 
                                eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at 
                                vulputate volutpat, uctus metus libero eu augue, vitae luctus…</p>
                                <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.01.2021</a>
                            </div>
                        </div>
                    </article>
                    <article class="post post-grid-type grid-item overlay-zoom fashion technology">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/2cols/6.jpg" width="600"
                                    height="420" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Fashion</a>,
                                <a href="#">Technology</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">Fusce lacinia arcuet nulla</a>
                            </h4>
                            <div class="post-content">
                                <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, 
                                eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at 
                                vulputate volutpat, uctus metus libero eu augue, vitae luctus…</p>
                                <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.06.2021</a>
                            </div>
                        </div>
                    </article>
                    <article class="post post-grid-type grid-item overlay-zoom fashion shoes">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/2cols/7.jpg" width="600"
                                    height="420" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Fashion</a>,
                                <a href="#">Shoes</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">Nunc sed augue lacus viverra vitae congue eu consequat ac</a>
                            </h4>
                            <div class="post-content">
                                <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, 
                                eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at 
                                vulputate volutpat, uctus metus libero eu augue, vitae luctus…</p>
                                <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.02.2021</a>
                            </div>
                        </div>
                    </article>
                    <article class="post post-grid-type grid-item overlay-zoom fashion">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/2cols/8.jpg" width="600"
                                    height="420" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Fashion</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">Fringilla urna porttitor rhoncus dolor purus</a>
                            </h4>
                            <div class="post-content">
                                <p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, 
                                eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at 
                                vulputate volutpat, uctus metus libero eu augue, vitae luctus…</p>
                                <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.06.2021</a>
                            </div>
                        </div>
                    </article>
                </div>
                <ul class="pagination justify-content-center mb-10 pb-2 pt-2">
                    <li class="prev disabled">
                        <a href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                            <i class="w-icon-long-arrow-left"></i>Prev
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="next">
                        <a href="#" aria-label="Next">
                            Next<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End of Page Content -->
    </main>
    <!-- End of Main -->
    
    {% include 'footer.html' %}
