
{% load static %}
            
			<!-- Page content end -->

		</div>
		<!-- Page wrapper end -->

		<!--**************************
			**************************
				**************************
							Required JavaScript Files
				**************************
			**************************
		**************************-->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
		<script src="{% static 'dashboard/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'dashboard/js/moment.js' %}"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->
		<!-- Slimscroll JS -->
		<script src="{% static 'dashboard/vendor/slimscroll/slimscroll.min.js' %}"></script>
		<script src="{% static 'dashboard/vendor/slimscroll/custom-scrollbar.js' %}"></script>

		<!-- Daterange -->
		<script src="{% static 'dashboard/vendor/daterange/daterange.js' %}"></script>
		<script src="{% static 'dashboard/vendor/daterange/custom-daterange.js' %}"></script>

		<!-- Polyfill JS -->
		<script src="{% static 'dashboard/vendor/polyfill/polyfill.min.js' %}"></script>

		<!-- Apex Charts -->
		<script src="{% static 'dashboard/vendor/apex/apexcharts.min.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/admin/visitors.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/admin/deals.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/admin/income.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/admin/customers.js' %}"></script>


		<!-- jQuery UI -->
		<script src="{% static 'dashboard/js/jquery-ui.min.js' %}"></script>

		<!-- Lobipanel -->
		<script src="{% static 'dashboard/vendor/lobipanel/js/lobipanel.js' %}"></script>
		<script src="{% static 'dashboard/vendor/lobipanel/js/lobipanel-custom.js' %}"></script>

		<!-- Main JS -->
		<script src="{% static 'dashboard/js/main.js' %}"></script>

		
		<!-- Data Tables -->
		<script src="{% static 'dashboard/vendor/datatables/dataTables.min.js' %}"></script>
		<script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap.min.js' %}"></script>
		
		<!-- Custom Data tables -->
		<script src="{% static 'dashboard/vendor/datatables/custom/custom-datatables.js' %}"></script>
		<script src="{% static 'dashboard/vendor/datatables/custom/fixedHeader.js' %}"></script>

		<!-- Download / CSV / Copy / Print -->
		<script src="{% static 'dashboard/vendor/datatables/buttons.min.js' %}"></script>
		<script src="{% static 'dashboard/vendor/datatables/jszip.min.js' %}"></script>
		<script src="{% static 'dashboard/vendor/datatables/pdfmake.min.js' %}"></script>
		<script src="{% static 'dashboard/vendor/datatables/vfs_fonts.js' %}"></script>
		<script src="{% static 'dashboard/vendor/datatables/html5.min.js' %}"></script>
		<script src="{% static 'dashboard/vendor/datatables/buttons.print.min.js' %}"></script>


		
		<!-- Rating JS -->
		<script src="{% static 'dashboard/vendor/rating/raty.js' %}"></script>
		<script src="{% static 'dashboard/vendor/rating/raty-custom.js' %}"></script>

		<!-- Polyfill JS -->
		<script src="{% static 'dashboard/vendor/polyfill/polyfill.min.js' %}"></script>

		<!-- Apex Charts -->
		<script src="{% static 'dashboard/vendor/apex/apexcharts.min.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/ecommerce-dashboard/by-device.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/ecommerce-dashboard/avg-handle-time.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/ecommerce-dashboard/by-channel.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/ecommerce-dashboard/orders-visits-bouncerate.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/ecommerce-dashboard/sales.js' %}"></script>
		<script src="{% static 'dashboard/vendor/apex/ecommerce-dashboard/sales2.js' %}"></script>

		<!-- Main JS -->
		<script src="{% static 'dashboard/js/main.js' %}"></script>

	</body>
</html>