{% load static %}
			<!-- Sidebar wrapper start -->
			<nav id="sidebar" class="sidebar-wrapper">
				
				<!-- Sidebar brand start  -->
				<div class="sidebar-brand">
					<a href="/" class="logo" style="color: #fff; font-weight: bold; font-size: larger;">
						<img src="{% static 'assets/images/logo.png' %}" alt="TRIBE LIKE Dashboard" /> TRIBE LIKE ADMIN DASHBOARD
					</a>
				</div>
				<!-- Sidebar brand end  -->

				<!-- Sidebar content start -->
				<div class="sidebar-content">

					<!-- sidebar menu start -->
					<div class="sidebar-menu">
						<ul>
							<li class="header-menu">General</li>
							<li>
								<a href="#">
									<i class="icon-devices_other"></i>
									<span class="menu-text">Dashboards</span>
								</a>
							</li>
							<li>
								<a href="/dashboard_sells/">
									<i class="icon-image"></i>
									<span class="menu-text">Selling</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="icon-dollar-sign"></i>
									<span class="menu-text">Sold items</span>
								</a>
							</li>
							<li>
								<a href="/chat/">
									<i class="icon-message-circle"></i>
									<span class="menu-text">Chat</span>
								</a>
							</li>
							<li>
								<a href="/draft_sells/">
									<i class="icon-calendar1"></i>
									<span class="menu-text">Draft items</span>
								</a>
							</li>
							<li>
								<a href="/statics/">
									<i class="icon-line-graph"></i>
									<span class="menu-text">items statics</span>
								</a>
							</li>
							<li>
								<a href="/list-item/">
									<i class="icon-file-text"></i>
									<span class="menu-text">List items</span>
								</a>
							</li>
							
							<li>
								<a href="/chat/">
									<i class="icon-message-circle"></i>
									<span class="menu-text">Chat</span>
								</a>
							</li>
							
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="icon-dollar-sign"></i>
									<span class="menu-text">Payment</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="calendar.html">Daygrid View</a>
										</li>
										<li>
											<a href="calendar-external-draggable.html">External Draggable</a>
										</li>
										<li>
											<a href="calendar-google.html">Google Calendar</a>
										</li>
										<li>
											<a href="calendar-list-view.html">List View</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="/contacts">
									<i class="icon-phone1"></i>
									<span class="menu-text">Contacts</span>
								</a>
							</li>
							
						</ul>
					</div>
					<!-- sidebar menu end -->

				</div>
				<!-- Sidebar content end -->
				
			</nav>
			<!-- Sidebar wrapper end -->